---
import Layout from "../layouts/Layout.astro";
---

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<Layout title="Dhaka Distributions - Contact Us">
  <section class="bg-gray-100">
    <div class="mx-auto container px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="lg:col-span-2 lg:py-12">
          <h1 class="text-2xl font-bold text-amber-600">Our Partner Program</h1>
          <p class="max-w-xl text-lg mb-2">
            Welcome to the Dhaka Distributions Partner Program!!
          </p>
          <p class="text-lg">
            This partnership is all about our mutual business interests. We
            strongly believe that we both can do better as a team.
          </p>

          <div class="mt-8">
            <a href="" class="text-2xl font-bold text-amber-600">
              Program highlights -
            </a>
            <p class="mb-2">
              1. Dhaka Distributions does not sell products and technologies
              under distribution direct to end-customer. It is always through
              channel partners.
            </p>
            <p class="mb-2">
              2. Only services and solutions are subject to our direct sales
              depending on the business situation. Partners are nevertheless
              welcome in this segment and we are more than happy and willing to
              work jointly in possible scenarios.
            </p>
            <p class="mb-2">
              3. Partnerships on certain products maybe subject to tier
              placements. For example – Bitdefender and Acronis. In case of tier
              positioning, margins will vary.
            </p>
            <p class="mb-2">
              4. Dhaka Distributions protects business account incumbency. In
              case of renewals or repeat orders, incumbent partner is first
              preference irrespective of tier positioning. Incumbent partner
              prices are always special in comparison to competing bidder
              partners. However, if customer’s choice disfavors incumbent
              partner, we will notify the partner, provide an opportunity to
              rectify the differences with the customer, and will favor another
              partner only when incumbent partner fails to convince the
              customer. Customer always comes first and it our joint
              responsibility to maintain and manage a customer account in full
              satisfaction.
            </p>
            <p class="mb-2">
              5. Dhaka Distributions maintains strict confidentiality on
              business lead information. Business information provided by a
              partner will not be disclosed with other partners.
            </p>
            <p class="mb-2">
              6. Dhaka Distributions will share business leads with proactive
              partners whenever received directly from customers.
            </p>
            <p class="mb-2">
              7. All negotiations with partners will be transparent and
              confidential.
            </p>
            <p class="mb-2">
              8. Rights to a business lead will be reserved only through a
              formal notification of locking over email. It is on
              first-come-first-serve basis.
            </p>
            <p class="mb-2">
              9. It is mandatory to disclose customer name and details while
              asking for a price or locking a business lead. Dhaka Distributions
              will not disclose the lead to other partners. Nor will participate
              directly to the bid.
            </p>
            <p class="mb-2">
              10. We believe in transparency and proactiveness in a business
              partnership. Discussions and follow-up communication is highly
              appreciated and welcome.
            </p>
            <p class="mb-2">
              11. Partnership is effective only for registered partners. Price
              release will be only after enrollment to the partner program.
            </p>
            <p class="mb-2">
              12. Terms of business / Rules of engagement (Financial and
              Technical) will be negotiated and decided business case-to-case
              basis.
            </p>
            <p class="mb-2">
              13. Dhaka Distributions reserves the right to terminate the
              partnership at any given point if circumstances lead to such
              measures. Welcome to the team. We look forward to a very
              prosperous and effective business partnership. Thank you.
            </p>
          </div>
        </div>
        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
          <form
            id="my-form"
            action="https://formspree.io/f/moqobgrr"
            method="POST"
            class="space-y-4"
          >
            <div>
              <label class="sr-only" for="company">Company Name</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Company Name"
                type="text"
                id="company"
                name="company"
              />
            </div>
            <div>
              <label class="sr-only" for="address">Address</label>
              <textarea
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Address"
                rows="4"
                id="address"
                name="address"></textarea>
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="phone">Phone</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Phone Number"
                  type="text"
                  id="phone"
                  name="phone"
                />
              </div>
              <div>
                <label class="sr-only" for="city">City</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="City"
                  type="text"
                  id="city"
                  name="city"
                />
              </div>
            </div>
            <div>
              <label class="sr-only" for="website">Website</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Website"
                type="text"
                id="website"
                name="website"
              />
            </div>
            <div>
              <label class="sr-only" for="owner">Owner/Founder</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Owner/Founder"
                type="text"
                id="owner"
                name="owner"
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="trade">Trade License No</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Trade License No"
                  type="text"
                  id="trade"
                  name="tradelicense"
                />
              </div>
              <div>
                <label class="sr-only" for="vat">VAT Registration No</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="VAT Registration No"
                  type="text"
                  id="vat"
                  name="vat"
                />
              </div>
            </div>

            <div>
              <label class="sr-only" for="sales">Contact for Sales</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Contact for Sales"
                type="text"
                id="sales"
                name="contactsales"
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="sales_phone">Phone</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Phone"
                  type="text"
                  id="sales_phone"
                  name="sales_phone"
                />
              </div>
              <div>
                <label class="sr-only" for="sales_email">Email</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Email"
                  type="text"
                  id="sales_email"
                  name="sales_email"
                />
              </div>
            </div>
            <div>
              <label class="sr-only" for="tech">Contact for Tech Support</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Contact for Tech Support"
                type="text"
                id="tech"
                name="contacttechsupport"
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="tech_phone">Phone</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Phone"
                  type="text"
                  id="tech_phone"
                  name="tech_phone"
                />
              </div>
              <div>
                <label class="sr-only" for="tech_email">Email</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Email"
                  type="text"
                  id="tech_email"
                  name="tech_email"
                />
              </div>
            </div>
            <div>
              <label class="sr-only" for="account">Contact for Accounts</label>
              <input
                class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                placeholder="Contact for Accounts"
                type="text"
                id="account"
                name="contactaccount"
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="account_phone">Phone</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Phone"
                  type="text"
                  id="account_phone"
                  name="account_phone"
                />
              </div>
              <div>
                <label class="sr-only" for="account_email">Email</label>
                <input
                  class="w-full rounded-lg border border-gray-400 p-3 text-sm"
                  placeholder="Email"
                  type="text"
                  id="account_email"
                  name="account_email"
                />
              </div>
            </div>
            <div
              class="g-recaptcha"
              data-sitekey="6Lcg_QopAAAAAP2ky46y5gyuAnfYasgrbjOSjv9Z"
            >
            </div>
            <div class="mt-4">
              <button
                type="submit"
                class="inline-block w-full rounded-lg bg-amber-700 px-5 py-3 font-medium text-white sm:w-auto"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>
<script>
  var form = document.getElementById("my-form");

  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("my-form");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset();
        } else {
          response.json().then((data) => {
            if (Object.hasOwn(data, "errors")) {
              status.innerHTML = data["errors"]
                .map((error) => error["message"])
                .join(", ");
            } else {
              status.innerHTML =
                "Oops! There was a problem submitting your form";
            }
          });
        }
      })
      .catch((error) => {
        status.innerHTML = "Oops! There was a problem submitting your form";
      });
  }
  form.addEventListener("submit", handleSubmit);
</script>
