---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Partner from "../components/Partner.astro";
import Wedo from "../components/Wedo.astro";
import Messageone from "../components/Messageone.astro";
import Messagetwo from "../components/Messagetwo.astro";
---

<Layout title="Dhaka Distributions - Home">
  <Header />
  <Partner />
  <Wedo />
  <Messageone />
  <Messagetwo />
  <a href="https://store.dhakadistributions.com" target="_blank">
    <img src="/consumer.webp" class="container mx-auto" />
  </a>
</Layout>
