---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dhaka Distributions - Solutions & Services">
  <section>
    <div class="mx-auto container px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full">
            <img
              alt="House"
              src="https://images.unsplash.com/photo-1583608205776-bfd35f0d9f83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              class="absolute inset-0 h-full w-full object-cover"
            />
          </div>
        </div>

        <div class="relative flex items-center bg-gray-100">
          <span
            class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
          ></span>

          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="text-2xl font-bold sm:text-3xl">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore,
              debitis.
            </h2>

            <p class="mt-4 text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
              molestiae! Quidem est esse numquam odio deleniti, beatae, magni
              dolores provident quaerat totam eos, aperiam architecto eius quis
              quibusdam fugiat dicta.
            </p>

            <a
              href="#"
              class="mt-8 inline-block rounded border border-amber-600 bg-amber-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-amber-600 focus:outline-none focus:ring active:text-amber-500"
            >
              Get in Touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="mx-auto container px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div
          class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
        >
          <img
            alt="Party"
            src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>

        <div class="lg:py-24">
          <h2 class="text-3xl font-bold sm:text-4xl">Grow your audience</h2>

          <p class="mt-4 text-gray-600">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut qui
            hic atque tenetur quis eius quos ea neque sunt, accusantium soluta
            minus veniam tempora deserunt? Molestiae eius quidem quam repellat.
          </p>

          <a
            href="#"
            class="mt-8 inline-block rounded bg-amber-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-amber-700 focus:outline-none focus:ring focus:ring-amber-400"
          >
            Get Started Today
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white text-gray-800">
    <div class="mx-auto container px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold sm:text-4xl">Kickstart your marketing</h2>

        <p class="mt-4 text-gray-800">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
          aliquam doloribus nesciunt eos fugiat. Vitae aperiam fugit
          consequuntur saepe laborum.
        </p>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 16 16"
            class="text-amber-600"
          >
            <path
              fill="currentColor"
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291a.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04a7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674l.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047a.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218c.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001a7.003 7.003 0 0 1-12.658.905Z"
            >
            </path>
          </svg>

          <h2 class="mt-4 text-xl font-bold text-amber-700">
            Digital campaigns
          </h2>

          <p class="mt-1 text-sm text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
        </a>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="mx-auto container px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
          Trusted by eCommerce Businesses
        </h2>

        <p class="mt-4 text-gray-500 sm:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          dolores laborum labore provident impedit esse recusandae facere libero
          harum sequi.
        </p>
      </div>

      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div
            class="flex flex-col rounded-lg bg-amber-100 px-4 py-8 text-center"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
              Total Sales
            </dt>

            <dd class="text-4xl font-extrabold text-amber-600 md:text-5xl">
              $4.8m
            </dd>
          </div>

          <div
            class="flex flex-col rounded-lg bg-amber-100 px-4 py-8 text-center"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
              Official Addons
            </dt>

            <dd class="text-4xl font-extrabold text-amber-600 md:text-5xl">
              24
            </dd>
          </div>

          <div
            class="flex flex-col rounded-lg bg-amber-100 px-4 py-8 text-center"
          >
            <dt class="order-last text-lg font-medium text-gray-500">
              Total Addons
            </dt>

            <dd class="text-4xl font-extrabold text-amber-600 md:text-5xl">
              86
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
</Layout>
