---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Dhaka Distributions - Warranty & After-Sales Service Policy">
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      <h1>Warranty & After-Sales Service Policy </h1>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">1</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">Unless the product, technology, solution, or service sold by us through a reseller/partner or directly by us has an associated hardware component, the term “Warranty” does not apply. Software is not a tangible delivery and hence has no warranty coverage. Warranty will be applicable only if there is a hardware component associated and supplied with our sales. The terms of that warranty will be stated with clarity in our offer letter from the very beginning. </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">2</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">After-sales service will mean technical support for the related product, technology, solution, or service sold by us through a reseller/partner or directly by us. There are 3 tiers of technical support to our sales. Tier 1 – provided by the reseller/partner, Tier 2 – provided by our technical team, Tier 3 – provided by the OEM. The support will be provided as the situation demands in terms of expertise level. Tier 2 and Tier 3 technical support services will be coordinated and managed by us. </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">3</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">Our Technical support is available over-the-phone or email 10 am to 6 pm, Saturday to Thursday. Closed on Friday and all national holidays.  </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">4</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">Technical support required on-site by us will be free of charges within Dhaka city limits. For out of Dhaka city limits sites charges will be applicable as decided prior to the delivery of the service. On-site technical support is not available for consumer products.   </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">5</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">Technical support responsibilities will cover issues related to our products, technologies, solutions, and services only. Not beyond.  </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">6</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">End-customers are advised strongly to take trainings and orientation on the products, technologies, solutions, and services sold by us either through reseller/partner or direct. These trainings and orientations are mostly free unless OEM provides paid trainings only. In most cases our technical team can provide the sessions. In other cases, most OEMs have free online courses and certifications available. </p>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">7</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed">7. End customers can choose to engage our technical support services on paid SLA terms also. The SLA will be a separate contract and terms of services and charges will be negotiated if required by customer. </p>
        </div>
      </div>
    </div>
  </div>
</section>
</Layout>