---

---

<section>
  <div class="mx-auto container px-4 py-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="p-8 md:p-12">
        <div class="mx-auto max-w-xl text-left">
          <h2
            class="text-2xl font-bold text-gray-800 md:text-6xl font-mono pb-8"
          >
            3 decades of a legacy...
          </h2>

          <p class="text-gray-800 sm:mt-4 sm:block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas
            tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim
            et fermentum, augue. Aliquet amet volutpat quisque ut interdum
            tincidunt duis.
          </p>
        </div>
      </div>

      <div class="md:grid-cols-1">
        <div class="p-4 md:p-12">
          <img alt="Office" src="/header.jpg" class="" />
        </div>
      </div>
    </div>
  </div>
</section>
