---

---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-8 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="md:w-1/2 w-full md:h-full"
        src="/about.webp"
        loading="lazy"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:pb-6 mt-4 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          Cybersecurity Essentials
        </h1>

        <p class="leading-relaxed mb-4">
          Laying the foundation for cybersecurity systems and practices.
        </p>
        <p class="mb-4">
          Cybersecurity, as a process, starts with a foundation of few
          fundamental security segments. The multiple layers of cybersecurity
          systems and services are incrementally built and added over that
          foundation. We believe that the 4 pillars of that foundation start
          with
        </p>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <a
            href="https://www.bitdefender.com/"
            target="_blank"
            class="border border-gray-300 rounded p-2 m-1"
          >
            <img src="/endpoint.webp" />
            <p class="text-center">Endpoint Security</p>
          </a>
          <a
            href="https://www.titanhq.com/"
            target="_blank"
            class="border border-gray-300 rounded p-2 m-1"
          >
            <img src="/email.webp" />
            <p class="text-center">Email Security</p>
          </a>
          <a
            href="https://www.acronis.com/en-us/"
            target="_blank"
            class="border border-gray-300 rounded p-2 m-1"
          >
            <img src="/backup.webp" />
            <p class="text-center">Backup & Storage</p>
          </a>
          <a href="/contact" class="border border-gray-300 rounded p-2 m-1">
            <img src="/awarness.webp" />
            <p class="text-center">Cyber Security Awareness</p>
          </a>
        </div>
        <p class="mb-4">
          The first two secure the attack parameters, the 3rd is a fallback
          security insurance to roll over in case of a hack or breach, the 4th
          is an all-time precautionary protocol to be able to identify and avoid
          attacks through practices.
        </p>
        <p class="mb-4">
          Dhaka Distributions offers comprehensive 360° protection solutions,
          either as a one-off requirement or a package, to start and build a
          security ecosystem in association with world-leading cybersecurity
          technology and service providers.
        </p>
      </div>
    </div>
  </div>
</section>
