---

---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          About Us
        </h1>

        <p class="leading-relaxed mb-4">
          Dhaka Distributions is a cybersecurity technologies, solutions, and
          service provider.
        </p>
        <p class="mb-4">
          It is an enduring team of professionals, who over the span of last 3
          decades have pioneered and set trends in the local cybersecurity
          industry. We partner in various capacities with some of the top global
          cybersecurity providers to bring efficient solutions and services to
          Bangladesh.
        </p>
        <p class="mb-4">What makes us different? Our experience.</p>
        <p class="mb-4">
          We listen to our customers. Their requirements. We try to fit our
          offerings to address those requirements. And we blend it with the
          local market culture or trends. We ensure the three fundamental
          requirements – reputed superior technology that performs and delivers,
          strong and unwavering local support, and a competitive pricing
          strategy. Customer satisfaction is important to us.
        </p>
      </div>
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="/about2.webp"
      />
    </div>
  </div>
</section>
