---

---

<header class="bg-white">
  <div
    class="mx-auto flex h-16 container items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li class="group relative">
            <a class="text-gray-800 transition hover:text-amber-600" href="#">
              Solutions & Services
            </a>
            <ul class="hidden group-hover:block absolute w-[250px] bg-white">
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.bitdefender.com/" target="_blank"
                  >Endpoint Security</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.bitdefender.com/business/enterprise-products/endpoint-detection-response.html"
                  target="_blank">EDR</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.bitdefender.com/business/gravityzone-platform/xdr-extended-detection-and-response.html"
                  target="_blank">XDR</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.bitdefender.com/business/gravityzone-addons/security-for-mobile.html"
                  target="_blank">Enterprise Mobile Security Solution</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.appknox.com/" target="_blank"
                  >Mobile Apps VAPT</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.titanhq.com/email-security-master-lp/?utm_campaign=ST-ENG-LT-GSN&?product_type=SpamTitan&acctid=THQ&utm_source=Adwords&utm_medium=PPC&keyword=email%20security%20software&matchtype=b&campaignid=2020897804&adgroupid=112726781440&gclid=Cj0KCQjwy4KqBhD0ARIsAEbCt6g_-Yi-yoLv-0_gHtaHg8pBvv4twWpSrYq6zU7t1rdnXbe4n9WZ2YQaAviTEALw_wcB&network=g&device=c&gad_source=1"
                  target="_blank">Email Security</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.acronis.com/en-us/products/cyber-protect/backup/"
                  target="_blank">Backup & Storage</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.acronis.com/en-us/products/cloud/cyber-protect/data-loss-prevention/"
                  target="_blank">DLP</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.wallix.com/privileged-access-management/"
                  target="_blank">PAM</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.wallix.com/multi-factor-authentication"
                  target="_blank">Multi-Factor Authentication</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.ekransystem.com/en/solutions/preventing-insider-threat"
                  target="_blank">Insider Threat Management</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a
                  href="https://www.ekransystem.com/en/product/session-recording"
                  target="_blank">User Session Recording</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.pulseway.com/" target="_blank"
                  >Remote Monitoring & Management</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://niiconsulting.com/" target="_blank"
                  >GRC Assessments & Certifications</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.group-ib.com/" target="_blank"
                  >Threat Intel, Monitoring & Cybercrime Investigations</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="/contact">Cybersecurity Trainings</a>
              </li>
            </ul>
          </li>

          <li class="group relative">
            <a class="text-gray-800 transition hover:text-amber-600" href="/#">
              Partnerships
            </a>
            <ul class="hidden group-hover:block absolute w-[250px] bg-white">
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.bitdefender.com/" target="_blank"
                  >Bitdefender</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.acronis.com/en-us/" target="_blank"
                  >Acronis</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.titanhq.com/" target="_blank">TitanHQ</a>
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.wallix.com/" target="_blank">Wallix</a>
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.ekransystem.com/en" target="_blank"
                  >Ekran</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.appknox.com/" target="_blank">Appknox</a>
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.pulseway.com/" target="_blank">Pulseway</a>
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.niiconsulting.com/" target="_blank"
                  >Network Intelligence</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.ampcuscyber.com/" target="_blank"
                  >Ampcus Cyber</a
                >
              </li>
              <li class="border-b border-amber-600 py-2 px-1">
                <a href="https://www.group-ib.com/" target="_blank">Group-IB</a>
              </li>
            </ul>
          </li>

          <li>
            <a
              class="text-gray-800 transition hover:text-amber-600"
              href="/contact"
            >
              Contact Us
            </a>
          </li>

          <li>
            <a
              class="text-gray-800 transition hover:text-amber-600"
              href="/beapartner"
            >
              Be a Partner
            </a>
          </li>

          <li>
            <a
              class="text-gray-800 transition hover:text-amber-600"
              href="/information"
            >
              Information & Media
            </a>
          </li>

          <li>
            <a
              class="text-amber-500 font-bold transition hover:text-amber-600"
              href="https://store.dhakadistributions.com"
              target="_blank"
            >
              Online Store
            </a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-1">
        <div class="hidden sm:flex sm:gap-1">
          <a
            class="block px-2 py-2.5 text-sm"
            href="https://www.facebook.com/dhakadisti"
            target="_blank"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="text-gray-700 hover:text-amber-600"
            >
              <path
                fill="currentColor"
                d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
              >
              </path>
            </svg>
          </a>

          <a
            class="rounded-md px-2 py-2.5 text-sm"
            href="https://www.linkedin.com/company/dhakadistributions/"
            target="_blank"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 256 256"
              class="text-gray-700 hover:text-amber-600"
            >
              <path
                fill="currentColor"
                d="M216 24H40a16 16 0 0 0-16 16v176a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V40a16 16 0 0 0-16-16ZM96 176a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm-8-80a12 12 0 1 1 12-12a12 12 0 0 1-12 12Zm96 80a8 8 0 0 1-16 0v-36a20 20 0 0 0-40 0v36a8 8 0 0 1-16 0v-64a8 8 0 0 1 15.79-1.78A36 36 0 0 1 184 140Z"
              >
              </path>
            </svg>
          </a>
        </div>

        <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
