---

---

<header class="bg-white">
  <div
    class="mx-auto flex h-16 container items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Solutions & Services
            </a>
          </li>

          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Partnerships
            </a>
          </li>

          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Contact Us
            </a>
          </li>

          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Be a Partner
            </a>
          </li>

          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Information & Media
            </a>
          </li>

          <li>
            <a class="text-gray-800 transition hover:text-amber-600" href="/">
              Online Store
            </a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-1">
        <div class="hidden sm:flex sm:gap-1">
          <a class="block px-2 py-2.5 text-sm" href="/">
            <svg
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="text-gray-700 hover:text-amber-600"
            >
              <path
                fill="currentColor"
                d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
              >
              </path>
            </svg>
          </a>

          <a
            class="rounded-md px-2 py-2.5 text-sm"
            href="/"
          >
            <svg width="32" height="32" viewBox="0 0 256 256" class="text-gray-700 hover:text-amber-600">
              <path
                fill="currentColor"
                d="M216 24H40a16 16 0 0 0-16 16v176a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V40a16 16 0 0 0-16-16ZM96 176a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm-8-80a12 12 0 1 1 12-12a12 12 0 0 1-12 12Zm96 80a8 8 0 0 1-16 0v-36a20 20 0 0 0-40 0v36a8 8 0 0 1-16 0v-64a8 8 0 0 1 15.79-1.78A36 36 0 0 1 184 140Z"
              >
              </path>
            </svg>
          </a>
        </div>

        <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
