---
---
<div class="grid grid-cols-1 justify-items-center md:items-end md:grid-cols-7 gap-4 w-full md:container mx-auto">
<img src="/bitdefender.webp" class=""/>
<img src="/pulseway.webp" class=""/>
<img src="/ekran.svg" class=""/>
<img src="/ni.webp" class=""/>
<img src="/acronis.webp" class=""/>
<img src="/appknox.webp" class=""/>
<img src="/wallix.svg" class=""/>
</div>