---

---

<div class="bg-white">
  <div class="mx-auto container px-4 py-16 sm:px-6 sm:py-24">
    <h2 class="sr-only">Products</h2>

    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 xl:gap-x-8"
    >
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/backupstorage.webp"
            alt="Backup & Storage"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">Backup & Storage</h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/cac.webp"
            alt="Compliance, Assessment & Certifications"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Compliance, Assessment & Certifications
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/ct.webp"
            alt="Cybersecurity Trainings"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Cybersecurity Trainings
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/dlp.webp"
            alt="DLP"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          DLP
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/edr.webp"
            alt="EDR Solutions"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          EDR Solutions
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/es.webp"
            alt="Email Security"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Email Security
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/end.webp"
            alt="Endpoint Security"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Endpoint Security
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/ems.webp"
            alt="Enterprise Mobile Security Solutions"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Enterprise Mobile Security Solutions
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/ems.webp"
            alt="Enterprise Mobile Security Solutions"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Enterprise Mobile Security Solutions
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/itm.webp"
            alt="Insider Threat Management"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Insider Threat Management
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/vapt.webp"
            alt="Mobile app VAPT"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Mobile app VAPT
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/mfa.webp"
            alt="Multi-Factor Authentication"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Multi-Factor Authentication
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/pam.webp"
            alt="PAM"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          PAM
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/rmm.webp"
            alt="Remote Monitoring and Management"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Remote Monitoring and Management
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/tmi.webp"
            alt="Threat Intel, Monitoring & Investigation"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Threat Intel, Monitoring & Investigation
        </h3>
      </a>
      <a href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/usr.webp"
            alt="User Session Recording"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          User Session Recording
        </h3>
      </a>
    </div>
  </div>
</div>
