---

---

<div class="bg-white">
  <div class="mx-auto container px-4 py-16 sm:px-6 sm:py-24">
    <h2 class="sr-only">Products</h2>

    <div
      class="grid grid-cols-3 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-6 lg:gap-x-24"
    >
      <a href="https://www.bitdefender.com/" target="_blank">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/end.webp"
            alt="Endpoint Security"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Endpoint Security
        </h3>
      </a>
      <a
        href="https://www.bitdefender.com/business/enterprise-products/endpoint-detection-response.html"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/edr.webp"
            alt="EDR Solutions"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">EDR Solutions</h3>
      </a>
      <a
        href="https://www.bitdefender.com/business/gravityzone-platform/xdr-extended-detection-and-response.html"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/edr.webp"
            alt="EDR Solutions"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">XDR Solutions</h3>
      </a>
      <a
        href="https://www.bitdefender.com/business/gravityzone-addons/security-for-mobile.html"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/ems.webp"
            alt="Enterprise Mobile Security Solutions"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Enterprise Mobile Security Solutions
        </h3>
      </a>
      <a href="https://www.appknox.com/" target="_blank">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/vapt.webp"
            alt="Mobile app VAPT"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">Mobile App VAPT</h3>
      </a>
      <a
        href="https://www.titanhq.com/email-security-master-lp/?utm_campaign=ST-ENG-LT-GSN&?product_type=SpamTitan&acctid=THQ&utm_source=Adwords&utm_medium=PPC&keyword=email%20security%20software&matchtype=b&campaignid=2020897804&adgroupid=112726781440&gclid=Cj0KCQjwy4KqBhD0ARIsAEbCt6g_-Yi-yoLv-0_gHtaHg8pBvv4twWpSrYq6zU7t1rdnXbe4n9WZ2YQaAviTEALw_wcB&network=g&device=c&gad_source=1"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/es.webp"
            alt="Email Security"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">Email Security</h3>
      </a>
      <a
        href="https://www.acronis.com/en-us/products/cyber-protect/backup/"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/backupstorage.webp"
            alt="Backup & Storage"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">Backup & Storage</h3>
      </a>
      <a
        href="https://www.acronis.com/en-us/products/cloud/cyber-protect/data-loss-prevention/"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/dlp.webp"
            alt="DLP"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">DLP</h3>
      </a>
      <a
        href="https://www.wallix.com/privileged-access-management/"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/pam.webp"
            alt="PAM"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">PAM</h3>
      </a>
      <a
        href="https://www.wallix.com/multi-factor-authentication"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/mfa.webp"
            alt="Multi-Factor Authentication"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Multi-Factor Authentication
        </h3>
      </a>
      <a
        href="https://www.ekransystem.com/en/solutions/preventing-insider-threat"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/itm.webp"
            alt="Insider Threat Management"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Insider Threat Management
        </h3>
      </a>
      <a
        href="https://www.ekransystem.com/en/product/session-recording"
        target="_blank"
      >
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/usr.webp"
            alt="User Session Recording"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          User Session Recording
        </h3>
      </a>
      <a href="https://www.pulseway.com/" target="_blank">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/rmm.webp"
            alt="Remote Monitoring and Management"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Remote Monitoring and Management
        </h3>
      </a>
      <a href="https://niiconsulting.com/" target="_blank">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/rmm.webp"
            alt="Remote Monitoring and Management"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          GRC Assessments & Certifications
        </h3>
      </a>
      <a href="https://www.group-ib.com/" target="_blank">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/tmi.webp"
            alt="Threat Intel, Monitoring & Investigation"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Threat Intel, Monitoring & Investigation
        </h3>
      </a>
      <a href="/contact">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg xl:aspect-h-8 xl:aspect-w-7"
        >
          <img
            src="/ct.webp"
            alt="Cybersecurity Trainings"
            class="h-full w-full object-cover object-center"
            loading="lazy"
          />
        </div>
        <h3 class="mt-4 text-sm text-center text-gray-700">
          Cybersecurity Trainings
        </h3>
      </a>
    </div>
  </div>
</div>
