---
import Footer from "../components/Footer.astro";
import Top from "../components/Top.astro";
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dhaka Distributions" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      property="og:url"
      content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Dhaka Distributions is a cybersecurity technologies, solutions, and service provider."
    />
    <meta
      property="og:description"
      content="It is an enduring team of professionals, who over the span of last 3 decades have pioneered and set trends in the local cybersecurity industry. We partner in various capacities with some of the top global cybersecurity providers to bring efficient solutions and services to Bangladesh."
    />
    <meta
      property="og:image"
      content="https://www.dhakadistributions.com/home.webp"
    />
    <title>{title}</title>
  </head>
  <body class="font-arial">
    <Top />
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
